body {
	background-color: white;
	color: black;
}

table.sheet { border-collapse: collapse; }
table.sheet th, table.sheet td { border: solid thin #ddd; padding: 0; }
td.float input { text-align: right; }
td.invalid input { color: #700; font-variant: small-caps; font-weight: bold; }

table.sheet input { border: solid thin #fff; margin: 0; }
table.sheet input:focus { border: solid thin #ddd; }
